<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Hôpitaux</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body class="bg-gray-100 text-gray-800 font-sans">
    <!-- Bouton retour à l'accueil -->
    <div class="p-4">
        <a href="/" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700">
            Retour à l'accueil
        </a>
    </div>

    <header class="bg-blue-500 text-white p-4 text-center">
        <h1 class="text-3xl font-bold">Liste des Hôpitaux</h1>
    </header>

    <main class="max-w-6xl mx-auto mt-8">
        <table class="w-full bg-white shadow-md rounded">
            <thead class="bg-blue-500 text-white">
                <tr>
                    <th class="px-4 py-2">Nom</th>
                    <th class="px-4 py-2">Adresse</th>
                    <th class="px-4 py-2">Téléphone</th>
                    <th class="px-4 py-2">Disponibilité</th>
                    <th class="px-4 py-2">Services</th>
                    <th class="px-4 py-2">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for hospital in hospitals %}
                <tr class="hover:bg-gray-100">
                    <td class="border px-4 py-2">{{ hospital.name }}</td>
                    <td class="border px-4 py-2">{{ hospital.address }}</td>
                    <td class="border px-4 py-2">{{ hospital.phone }}</td>
                    <td class="border px-4 py-2">{{ hospital.availability }}</td>
                    <td class="border px-4 py-2">{{ hospital.services }}</td>
                    <td class="border px-4 py-2 flex space-x-2">
                        <a href="{{ url_for('delete_hospital', id=hospital.id) }}" class="bg-red-500 hover:bg-red-700 text-white px-4 py-2 rounded shadow">Supprimer</a>
                        <a href="{{ url_for('hospital_details', id=hospital.id) }}" class="bg-green-500 hover:bg-green-700 text-white px-4 py-2 rounded shadow">Détails</a>
                        <a href="{{ url_for('view_doctors', hospital_id=hospital.id) }}" class="bg-indigo-500 hover:bg-indigo-700 text-white px-4 py-2 rounded shadow">Médecins</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
